<header>
  <nav class="py-3 navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
      <div class="logo">
        <a class="nav-brand"><img src="" width="40" height="40"></a>
      </div>
    <button data-toggle="collapse" data-target="#main-menu" type="button" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a href="#" class="active nav-link">Home</a></li>
        <li class="nav-item"><a href="/create" class="active nav-link">Create a new One</a></li>
        <li class="nav-item"><a href="/views/user_resources.ejs" class="active nav-link">Liked/Created</a></li>
    </ul>
    <form lass="d-flex d-lg-block main-menu" action="">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="d-flex">
      <a type="button" href="/login" class="btn btn-outline-light">
        Login
      </a>
      <a type="button" href="/" class="btn btn-outline-light">
        Profile
      </a>
    </div>
</div>
</div>
</nav>
</header>
