<header>
  <nav class="py-3 navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
      <div class="logo">
        <a class="nav-brand"><img src="/img/resourceFULL.png" width="100" height="95"></a>
      </div>
    <button data-toggle="collapse" data-target="#main-menu" type="button" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a href="/" class="active nav-link">Home</a></li>
        <li class="nav-item"><a href="/create" class="active nav-link">Create a new One</a></li>
        <li class="nav-item"><a href="/resources" class="active nav-link">Liked/Created</a></li>
        <li class="nav-item"><a href="/profile" class="active nav-link">Profile</a></li>

    </ul>
    <form class="d-flex d-lg-block main-menu" action="/search" method="POST">
      <input class="form-control mr-sm-2" type="search" id= "searchTag" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-primary" id="search" type="submit">search</button>
    </form>
    <div class="d-flex">
      <a type="button" href="/login" class="btn btn-outline-light">
        Login
      </a>
      <a type="button" href="/logout" class="btn btn-outline-light">
        Logout
      </a>
    </div>
</div>
</div>
</nav>
</header>
