* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background:
  #d9d4d1;
}

.row {
  border-radius: 25px;
  box-shadow: 12px 12px 22px grey;
  background-color: white;
}

.border-image{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  margin:0.1em;
}


.profile-form {
  border-radius:20px;
}

.btn:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}


#search {
  width:20%;
  padding:5px;
}

.vertical
